body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #11447d;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #11657d;
    overflow: hidden;
    width: 100%;
    top: 60px; /* Debajo del header */
    z-index: 1000;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

div .login a {
    display: flex;
    text-decoration: underline;
    margin-left: 30px;

    
    }  
 .login a:hover {
        background-color: #45a049;
        color: black;
        transform: 1px;
        -webkit-transform: 1px;
        -moz-transform: 1px;
        -ms-transform: 1px;
        -o-transform: 1px;
}  
    
/****Main *********************************************/
main {
    padding: 20px;
}

div #col{

    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #45a049; 
    border: 1px solid #ccc; 
    border-radius: 5px; 


}


div .col {
    margin: 20px;
    padding: 10px;
}

 img {
    margin: 1px;
    padding: 5px;
    width: 320px;
    height: auto;
}



/*****Foooter*********************/

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px); /* 130px es la altura del header y del footer combinados */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.log-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.log-container label {
    font-weight: bold;
}
.log-container input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.log-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.log-container button:hover {
    background-color: #45a049;
}
.form-text {
    font-size: 12px;
    color: #6c757d;
}

